<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976906286216-mn0ivr6kqaqj1nulk4vinsnk8h7aubnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976906286216-mn0ivr6kqaqj1nulk4vinsnk8h7aubnu</string>
	<key>API_KEY</key>
	<string>AIzaSyBOtfqEmITektEAKfASZioNbTthSi-9MwE</string>
	<key>GCM_SENDER_ID</key>
	<string>976906286216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.frontend</string>
	<key>PROJECT_ID</key>
	<string>flow---development</string>
	<key>STORAGE_BUCKET</key>
	<string>flow---development.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976906286216:ios:9c82174cb25a771623db3d</string>
	<key>DATABASE_URL</key>
	<string>https://flow---development-default-rtdb.firebaseio.com</string>
</dict>
</plist>